section {
    padding: 20px;
} 

h1 {
    color: var(--color-h1);
    font-size: var(--tamano-h1);
}

h2 {
    color: var(--color-h2);
    font-size: var(--tamano-h2);
}

p {
    color: var(--color-texto);
    font-size: var(--tamano-texto);
}

body {
    font-family: var(--fuente-principal);
    font-size: var(--tamano-texto);
    color: var(--color-texto);
    background-color: var(--color-secundario);
    line-height: 1.5;
}



/* 1. Variables CSS */
:root {
    /* Colores */
    --color-principal: #080808;       /* negro para franja del logo */
    --color-secundario: rgb(248, 236, 236); /* fondo general blanco */
    --color-texto: rgb(12, 12, 12);   /* texto principal */
    --color-enlace: #fcafe2;          /* enlaces */
    --color-footer: #222222;          /* fondo del footer */

    /* Colores de títulos por nivel */
    --color-h1: #35bdcf;
    --color-h2: #5be97f;
    --color-h3: #080808;

    /* Tipografía */
    --fuente-principal: 'Roboto', sans-serif;
    --tamano-h1: 2.5rem;
    --tamano-h2: 2rem;
    --tamano-h3: 1.5rem;
    --tamano-texto: 1rem;

    /* Espaciado */
    --margen-seccion: 2rem;
    --padding-general: 1rem;
}
